*{
    margin: 0;
    padding: 0;
    
}

body {
    
    margin:auto;
    padding: 0;
    background-color: rgb(49, 41, 41);
    color: white;
} 
.containernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 5px black;
    font-weight: bold;
}

.paragraph {
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.lo{
    margin-top: 50px;
    height: 8px;
    width: 8px;
    padding: 8px;
    border: none;
}
.na {
    
  text-decoration: none;  
  color: white; 
  border-radius: 10px; 
  padding: 8px;  
  margin: 20px;
 
  justify-items:center;  
  box-shadow: 2px 10px 8px 2px black;
}
.na:hover{
    color:orange;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none; 
  
  
}

.first {
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

.second {
margin-top: 40px;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    font-size:20px ;
}

.third {
    margin-bottom: 50px;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

.fourth {
   
    color: white;
    padding: 70px;
    display: flex;
    justify-content:space-between;
    
}
.left {
    height: 300px;
    margin: 10px;
    padding: 50px;
    color: white;
    font-size: 40px;
    width: 500px;
}

.right {
    height: 300px;
    padding: 50px;
    margin: 30px;
    margin-bottom: 150px;
   
}

.left1 {
    margin-left: -20%;
    height: 300px;
    margin: 10px;
    padding: 50px;
    color: white;
    font-size: 18px;
    width: 500px;
}

.right1 {
    width: 500px;
     margin-left: -20%;
    height: 300px;
    padding: 50px;
    margin: 10px;
   
   
}
.hr{
    margin-top: 10px;
    margin: 20px;
    background-color: white;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
}
html {
  scroll-behavior: smooth;
}
.resume{
    height: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: orange;
    font-size: small;
}
.logo{
    justify-content: center;
    height: 400px;
    width: 100%;
}
.smalltext{
font-size: large;
}
.educationcard{
    height: 130px ;
    border:1px solid white ;
    width:100% ;
    padding:10px ;
    border-radius:12px ;
    box-shadow: 0px 5px 4px 0px black;

}
.educationcard1{
    height: 130px ;
    border:1px solid white ;
    width:100% ;
    padding:10px ;
    border-radius:12px ;
    box-shadow: 0px 5px 4px 0px black;
    margin-top: -25px;

}
.educationcard:hover{
    height: 140px;
    background-color: gray;
    box-shadow: 0px 10px 8px 0px black;
}
.educationcard1:hover{
    height: 140px;
    background-color: gray;
     box-shadow: 0px 10px 8px 0px black;
}
.project{
    padding: 10px;
    height: 450px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
     box-shadow: 0px 5px 5px 0px black;
}
.projects{
    
    margin-left: 1.5px;
    height: 150px;
    width: 280px;
    justify-content: space-around;
    border-radius: 5px;
     box-shadow: 0px 5px 5px 0px black;
}
.btn{
    width: 100px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.bar{
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;  
    margin-left: 20%;
    margin-top: -50px;
}

.bar2{
    height: 19px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;  
    margin-left: 20%;
    margin-top: -50px;
}
.progress{
    width: 95%;
    background-color: greenyellow;
    color: black;
    justify-content: center;
    font-weight: bolder;
}
.progress2{
    width: 80%;
    background-color: greenyellow;
    color: black;
    justify-content: center;
    font-weight: bolder;
}
.cards{
    border-radius: 12px;
    padding: 20px;
    height:250px ;
    width: 340px;
    border: 1px solid white;
     box-shadow:0px 5px 5px 0px black ;
}
.incards{
    color: white;
    border-radius: 12px;
    padding: 5px;
    height:25px ;
    width: 55px;
    border: 1px solid white;
    text-decoration: none;
    box-shadow:0px 5px 5px 0px black ;
}
.incards1{
     color: white;
    border-radius: 12px;
    padding: 5px;
    height:60px ;
    width: 100px;
    border: 1px solid white;
    text-decoration: none;
    box-shadow:0px 5px 5px 0px black ;

}
.incards:hover{
   
   
    padding: 5px;
    height:35px ;
    width: 65px;
   
    box-shadow:0px 8px 8px 0px black ;
}
/* -------------------------
   RESPONSIVE BREAKPOINTS
-------------------------- */
@media (max-width: 768px) {
  
  /* Make sections vertical */
  .first,
  .second,
  .third,
  .fourth {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  /* Fix cards */
  .cards,
  .project {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  /* Fix left-right sections */
  .left,
  .right,
  .left1,
  .right1 {
    width: 100%;
    padding: 20px;
    margin: 0;
    height: auto;
  }

  /* Navbar */
  .containernav ul {
    flex-direction: column;
    gap: 10px;
  }

  .na {
    margin: 5px;
  }

  /* Progress bars */
  .bar,
  .bar2 {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
  }

  /* Logo */
  .logo {
    height: auto;
    width: 100%;
  }
}
