*{
    margin: 0;
    padding: 0;
    
}

body {
    
    margin:auto;
    padding: 0;
    background-color: rgb(49, 41, 41);
    color: white;
} 
.containernav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 5px black;
    font-weight: bold;
}

.paragraph {
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.lo{
    margin-top: 50px;
    height: 8px;
    width: 8px;
    padding: 8px;
    border: none;
}
.na {
    
  text-decoration: none;  
  color: white; 
  border-radius: 10px; 
  padding: 8px;  
  margin: 20px;
 
  justify-items:center;  
  box-shadow: 2px 10px 8px 2px black;
}
.na:hover{
    color:orange;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none; 
  
  
}

.first {
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

.second {
margin-top: 40px;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    font-size:20px ;
}

.third {
    margin-bottom: 50px;
    color: white;
    padding: 70px;
    display: flex;
    justify-content: space-around;
}

.fourth {
   
    color: white;
    padding: 70px;
    display: flex;
    justify-content:space-between;
    
}
.left {
    height: 300px;
    margin: 10px;
    padding: 50px;
    color: white;
    font-size: 40px;
    width: 500px;
}

.right {
    height: 300px;
    padding: 50px;
    margin: 30px;
    margin-bottom: 150px;
   
}

.left1 {
    margin-left: -20%;
    height: 300px;
    margin: 10px;
    padding: 50px;
    color: white;
    font-size: 18px;
    width: 500px;
}

.right1 {
     margin-left: -20%;
    height: 300px;
    padding: 50px;
    margin: 10px;
   
   
}
.hr{
    margin-top: 10px;
    margin: 20px;
    background-color: white;
    height: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px black;
}
html {
  scroll-behavior: smooth;
}
.resume{
    height: 50px;
    width: 70%;
    border-radius: 10px;
    background-color: orange;
    font-size: small;
}
.logo{
    justify-content: center;
    height: 400px;
    width: 100%;
}
.smalltext{
font-size: large;
}
.project{
    padding: 10px;
    height: 450px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
     box-shadow: 0px 5px 5px 0px black;
}
.projects{
    
    margin-left: 1.5px;
    height: 150px;
    width: 280px;
    justify-content: space-around;
    border-radius: 5px;
     box-shadow: 0px 5px 5px 0px black;
}
.btn{
    width: 180px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.bar{
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;  
    margin-left: 20%;
    margin-top: -50px;
}

.bar2{
    height: 19px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;  
    margin-left: 20%;
    margin-top: -50px;
}
.progress{
    width: 95%;
    background-color: greenyellow;
    color: black;
    justify-content: center;
    font-weight: bolder;
}
.progress2{
    width: 80%;
    background-color: greenyellow;
    color: black;
    justify-content: center;
    font-weight: bolder;
}